* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: white;
}
a{
    text-decoration: none;
}

header {
padding: 20px 40px;


display: flex;
justify-content: space-between;
align-items: center;


}

nav {
display: flex;
gap: 25px;
}

nav a {
text-decoration: none;
color: black;
font-weight: bold;
}



.hero {
display: flex;
justify-content: center;
align-items: center;

gap: 50px;

padding: 80px 40px;


}

.hero img {
width: 250px;
height: 250px;


border-radius: 50%;


}

.hero-text {
max-width: 500px;
}

.hero-text h2 {
font-size: 35px;
margin-bottom: 15px;
}


section > h2 {
text-align: center;
margin: 30px;
}



.skills {
display: flex;
justify-content: center;
gap: 20px;
}

.skills div {
padding: 20px 40px;
background-color: #eee;
}



.projects {
display: flex;
justify-content: center;
gap: 20px;
}

.projects div {
padding: 40px;

background-color: #ddd;

border-radius: 10px;


}



.contact {
text-align: center;
padding: 50px;
}



footer {
text-align: center;


padding: 20px;

background-color: #222;
color: white;


}



@media (max-width: 768px) {

body {
    background-color: lightblue;
}

header {
    padding: 20px;
}

nav {
    gap: 15px;
}

.hero {
    gap: 25px;
    padding: 50px 20px;
}


}



@media (max-width: 576px) {


body {
    background-color: lightgreen;
}

header {
    flex-direction: column;
    gap: 20px;
}

nav {
    flex-direction: column;
    text-align: center;
}

.hero {
    flex-direction: column;
    text-align: center;
}

.hero img {
    width: 180px;
    height: 180px;
}

.hero-text h2 {
    font-size: 25px;
}

.skills {
    flex-direction: column;
    align-items: center;
}

.projects {
    flex-direction: column;
    margin: 20px;
}


}
