* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: white;
padding: 40px;
}
a{
    text-decoration: none;
}

h1 {
text-align: center;
margin-bottom: 40px;
}

.students {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.student-card {
width: 30%;


padding: 20px;

text-align: center;

background-color: #f5f5f5;

border-radius: 10px;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


}

.student-card img {
width: 100px;
height: 100px;


border-radius: 50%;

object-fit: cover;

margin-bottom: 15px;


}

.student-card h2 {
margin-bottom: 10px;
}

.student-card p {
margin: 7px;
color: #555;
}


@media (max-width: 768px) {


.student-card {
    width: 45%;
}


}

@media (max-width: 576px) {


body {
    padding: 20px;
}

.student-card {
    width: 100%;
}


}
