* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
padding: 30px;
}

a{
    text-decoration: none;
}


h1 {
text-align: center;
margin-bottom: 30px;
}


.box {
width: 220px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 18px;
font-weight: bold;
border-radius: 10px;
}

.box1 {
position: static;
background-color: blue;
margin: 20px auto;
}

.box2 {
position: relative;
top: 30px;
left: 50px;
background-color: green;
margin: 20px auto;
}

.absolute-container {
position: relative;
height: 180px;

margin-top: 30px;

border: 2px dashed #999;


}

.box3 {
position: absolute;
top: 30px;
right: 50px;

background-color: orange;

}

.box5 {
position: sticky;
top: 0;

background-color: purple;

margin: 20px auto;

z-index: 10;

}


.content {
min-height: 1000px;
background-color: white;

padding: 40px;

margin-top: 30px;

border-radius: 10px;


}

.content h2 {
margin-bottom: 20px;
}

.content p {
font-size: 18px;
line-height: 1.7;
}

.large-space {
margin-top: 500px;
}

.box4 {
position: fixed;
bottom: 20px;
right: 20px;

background-color: red;

z-index: 100;

}
