* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
text-align: center;
padding-top: 50px;
}

a{
    text-decoration: none;
}


.container {
margin-top: 50px;
}


.box {
width: 150px;
height: 100px;
margin: 20px auto;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 20px;
font-weight: bold;
border-radius: 10px;
}


.box1 {
background-color: blue;
}


.box2 {
background-color: red;
position: relative;
top: 40px;
left: 60px;
}

.box3 {
background-color: green;
}
