* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
padding: 30px;
}

a{
    text-decoration: none;
}
h1 {
text-align: center;
margin-bottom: 20px;
}

p {
font-size: 18px;
line-height: 1.6;
}

.content {
background-color: white;
padding: 30px;
margin-top: 30px;
min-height: 500px;
border-radius: 10px;
}

.space {
margin-top: 200px;
}


.whatsapp-btn {
position: fixed;
bottom: 20px;
right: 20px;

display: flex;
align-items: center;
gap: 8px;

padding: 15px 20px;

background-color: #25D366;
color: white;

text-decoration: none;
font-size: 18px;
font-weight: bold;

border-radius: 30px;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.whatsapp-btn:hover {
background-color: #1ebe5d;
}
