* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
padding: 40px;
}

a{
    text-decoration: none;
}


h1 {
text-align: center;
margin-bottom: 40px;
}


.dashboard {
display: grid;


grid-template-columns: repeat(3, 1fr);

gap: 20px;

max-width: 1000px;
margin: auto;


}


.card {
background-color: white;


padding: 40px 20px;

text-align: center;

border-radius: 10px;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

transition: transform 0.3s;


}


.card h2 {
font-size: 35px;
margin-bottom: 15px;
}

.card p {
font-size: 18px;
color: #555;
}


.card:hover {
transform: translateY(-5px);
}


@media (max-width: 700px) {


.dashboard {
    grid-template-columns: repeat(2, 1fr);
}


}

@media (max-width: 450px) {


.dashboard {
    grid-template-columns: 1fr;
}


}
