*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.container{
    display:flex;
    gap:40px;
}

.demo{
    border:2px solid black;
    padding:10px;
}

.box{
    width:100px;
    height:60px;
    margin:5px;
    color:white;
    text-align:center;
    line-height:60px;
}

.red{
    background:red;
}

.green-display{
    background:green;
    display:none;
}

.green-visibility{
    background:green;
    visibility:hidden;
}

.blue{
    background:blue;
}