* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
text-align: center;
padding: 50px;
}
a{
    text-decoration: none;
}

h1 {
margin-bottom: 50px;
}

.logos {
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
flex-wrap: wrap;
}

.logo {
width: 150px;
height: 100px;


display: flex;
justify-content: center;
align-items: center;

background-color: white;

border-radius: 10px;

font-size: 20px;
font-weight: bold;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

transition: 1s;


}


.logo:hover {
transform: rotate(360deg);
}
